body {
    background-color: #333;
    
    font-family: 'Your Chosen Font', sans-serif;
}

.breed-select,
.loader,
.error,
.cat-info {
    background-color: #444;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.error {
    color: red;
}

.cat-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.cat-info p {
    text-align: center;
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.cat-info img {
    width: 800px;
    height: 600px;
    object-fit: cover;
}

.loader {
    font-size: 48px;
    color: #FFF;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
}

.loader:after {
    content: '';
    height: 4px;
    width: 0%;
    display: block;
    background: #FF3D00;
    animation: 5s lineGrow linear infinite;
}

@keyframes lineGrow {
    to {
        width: 100%;
    }
}